{% extends 'Powerapp/base.html' %}

{% block content %}
<div class="card-body">
<h2>Details for {{ module.name }}</h2>
<table class="table table-bordered" id="modeldetail" width="100%" cellspacing="0">
    <thead>
    <th>Name</th>
    <th>IP address</th>
    <th>Port</th>
    <th>Communication Status</th>
    <th>BTS</th>
    <th>HVAC</th>
    <th></th>
    <th></th>
    </thead>
    <tbody>
    <tr>
        <td>{{ module.name}}</td>
        <td>{{ module.ipaddress}}</td>
        <td>{{ module.port}}</td>
        <td>
           {% if  module.online %}
            Online
            {% else %}
            Offline
            {%endif %}

        </td>
        <td>{{ module.btsstatus}}</td>
        <td>{{ module.hvacstatus}}</td>
        <td> <a href="{% url 'Powerapp:deletemodule' pk=module.pk %}">Delete</a></td>
        <td> <a href="{% url 'Powerapp:updatemodule' pk=module.pk %}">Edit</a></td>
    </tr>
    </tbody>
</table>
<div>
    <a class = "btn btn-warning" href="{% url 'Powerapp:btsoff' ip=module.ipaddress %}"> BTSoff</a>
    <a class = "btn btn-primary" href="{% url 'Powerapp:btson' ip=module.ipaddress %}"> BTSon</a>
    <a class = "btn btn-warning" href="{% url 'Powerapp:hvacoff' ip=module.ipaddress %}">  HVACoff</a>
    <a class = "btn btn-primary" href="{% url 'Powerapp:hvacon' ip=module.ipaddress %}">  HVACon</a>

</div>
</div>
{% endblock %}