{% extends 'Powerapp/base.html' %}

{% block content %}
<div class="container-fluid" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<h2>Details for {{ module.name }}</h2>
    <div class="row">

        <div class="card border-secondary mb-3" id="module_properties">
            <div class="card-body">
                <div class="card-title">
                    <h3>Properties</h3>
                 </div>
                <div class="row">
                    <div class="col-md-3">
                        <strong>Name:</strong>
                        <span>{{ module.name}}</span>
                    </div>
                    <div class="col-md-3">
                        <strong>Communication Address:</strong>
                        <span>{{ module.ipaddress}}</span>
                    </div>
                    <div class="col-md-3">
                        <label><strong>Communication Status:</strong></label>
                                  <span> {% if  module.online_status %}
                                        Online
                                    {% else %}
                                        Offline
                                    {%endif %}
                                  </span>
                    </div>
                    <div class="col-md-3">
                        <label><strong>Battery Threshold:</strong></label>
                        <span>
                            {% if module.battery_threshold %}
                                {{ module.battery_threshold}}
                            {% else %}
                                NA
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card border-secondary mb-3" id="module_status">
            <div class="card-body">
                <div class="card-title">
                    <h3>Status</h3>
                </div>
            <div class="row">
                <div class="col-md-3">
                    <strong>BTS:</strong>
                    <span>
                                   {% if  module.btsstatus %}
                ON
                {% else %}
                OFF
                {%endif %}
                    </span>
                </div>
                <div class="col-md-3">
                    <strong>HVAC:</strong>
                    <span>
                                   {% if  module.hvacstatus %}
                ON
                {% else %}
                OFF
                {%endif %}
                    </span>
                </div>
                <div class="col-md-3">
                    <strong>GEN:</strong>
                    <span>
                                   {% if  module.genstatus %}
                ON
                {% else %}
                OFF
                {%endif %}
                    </span>
                </div>
                <div class="col-md-3">
                    <strong>Mains:</strong>
                    <span>
                        {% if module.mainsstatus %}
                            ON
                        {% else %}
                            OFF
                        {% endif %}
                    </span>
                </div>
        </div>
        </div>
        </div>
    </div>
    {% if module.online_status %}
<div>
    {% if module.btsstatus %}
    <a class = "btn btn-warning" href="{% url 'Powerapp:btsoff' ip=module.ipaddress %}"> BTSoff</a>
    {% else %}
    <a class = "btn btn-primary" href="{% url 'Powerapp:btson' ip=module.ipaddress %}"> BTSon</a>
    {% endif %}
    {% if module.hvacstatus %}
    <a class = "btn btn-warning" href="{% url 'Powerapp:hvacoff' ip=module.ipaddress %}">  HVACoff</a>

    {% else %}
    <a class = "btn btn-primary" href="{% url 'Powerapp:hvacon' ip=module.ipaddress %}">  HVACon</a>
    {% endif %}
    {% if module.genstatus %}
    <a class = "btn btn-warning" href="{% url 'Powerapp:genoff' ip=module.ipaddress %}">  GENoff</a>

    {% else %}
    <a class = "btn btn-primary " href="{% url 'Powerapp:genon' ip=module.ipaddress %}">  GENon</a>
    {% endif %}

</div>
    {% else %}
<div>
    {% if module.btsstatus %}
    <a class = "btn btn-warning disabled" href="{% url 'Powerapp:btsoff' ip=module.ipaddress %}"> BTSoff</a>
    {% else %}
    <a class = "btn btn-primary disabled" href="{% url 'Powerapp:btson' ip=module.ipaddress %}"> BTSon</a>
    {% endif %}
    {% if module.hvacstatus %}
    <a class = "btn btn-warning disabled" href="{% url 'Powerapp:hvacoff' ip=module.ipaddress %}">  HVACoff</a>

    {% else %}
    <a class = "btn btn-primary disabled" href="{% url 'Powerapp:hvacon' ip=module.ipaddress %}">  HVACon</a>
    {% endif %}
    {% if module.genstatus %}
    <a class = "btn btn-warning disabled" href="{% url 'Powerapp:genoff' ip=module.ipaddress %}">  GENoff</a>

    {% else %}
    <a class = "btn btn-primary disabled" href="{% url 'Powerapp:genon' ip=module.ipaddress %}">  GENon</a>
    {% endif %}

</div>
    {% endif %}
</div>
{% endblock %}